* {
	box-sizing: border-box;
}

.lotus-editor {
	border: solid 2px #268fc9;
	position: fixed;
	border-radius: 2px;
	box-shadow: 1px 1px 2px 1px #03030366;
}

.lotus-editor .lotus-header {
	display: flex;
	background-color: #268fc9;
	cursor: all-scroll;
	color: white;
	padding: 4px;
}

.lotus-editor .lotus-body {
	background-color: white;
	padding: 4px;
	color: #222;
}

.lotus-editor .lotus-resize {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: se-resize;
	width: 15px;
	height: 15px;
}

.lotus-editor .lotus-tabs {
	display: flex;
	background-color: #eee;
}

.lotus-editor .lotus-tabs .lotus-tab {
	padding-bottom: 4px;
	margin: 4px 4px 0 4px;
	border-bottom: solid 2px #aaa;
	cursor: pointer;
}

.lotus-editor .lotus-tabs .lotus-tab.selected {
	background-color: white;
	border-bottom-color: #268fc9;
	padding: 4px;
	margin: 0;
}

.lotus-editor .lotus-pages .page {
	margin-left: 4px;
	cursor: pointer;
}

.lotus-editor .lotus-pages .page>span:hover {
	color: #268fc9;
}

#website {
	display: flex;
	justify-content: space-between;
}

.cell {
	height: 20px;
	background-color: red;
	display: block;
	width: 100%;
}

label > p {
	margin: 0;
}

textarea {
	width: 100%;
	resize: vertical;
}

.loading-ring {
	display: block;
	margin: 20px auto;
	stroke: black;
	fill: transparent;
}

.loading-ring > text {
	font-family: Arial, Helvetica, sans-serif;
	stroke: transparent;
	fill: black;
	font-size: 24px;
}

.lotus-grid{display: flex; flex-flow: row wrap;}
.lotus-editor .lotus-grid > div {
	background-color: #268fc9;
	padding: 4px;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	margin: 4px;
	border: solid 2px #268fc9;
}
.lotus-grid > div:hover {
	border-color: #005f93;
}
.lotus-cell-1{flex: 1;}
.lotus-cell-2{flex: 2;}
.lotus-cell-3{flex: 3;}
.lotus-cell-4{flex: 4;}
.lotus-cell-5{flex: 5;}
.lotus-cell-6{flex: 6;}
.lotus-cell-7{flex: 7;}
.lotus-cell-8{flex: 8;}
.lotus-cell-9{flex: 9;}
.lotus-cell-10{flex: 10;}
.lotus-cell-11{flex: 11;}
.lotus-cell-12{flex: 12;}

.lotus-highlight {
	outline: solid 2px red;
}